AI-Powered SEO Keyword Research Automation/AI_powered_SEO_Keyword_Research_Automation___The_vibe_Marketer.json
{
  "name": "AI powered SEO Keyword Research Automation - The vibe Marketer",
  "nodes": [
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "o1",
          "mode": "list",
          "cachedResultName": "o1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        88,
        455
      ],
      "id": "65aacfa5-4891-49f9-a614-2866c96142ee",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "AZynAxNG099jyj7B",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"primary_keywords\": [\"string\"],\n  \"long_tail_keywords\": [\n    {\n      \"keyword\": \"string\",\n      \"intent\": \"string\"\n    }\n  ],\n  \"question_based_keywords\": [\"string\"],\n  \"related_topics\": [\"string\"]\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        208,
        455
      ],
      "id": "5a0445ad-20c9-4e62-8e04-62451d3e8f7e",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=I need to create comprehensive SEO keyword research for content about: \n{{ $json.primary_topic }}\n\nMy target audience is: {{ $json.target_audience }}\nThis will be used for a: {{ $json.content_type }}\nLocation: {{ $json.location }}\nLanguage: {{ $json.language }}\n\nPlease generate:\n1. A list of 20 primary keywords directly related to {{ $json.primary_topic }}\n2. 30 long-tail keyword variations with search intent (informational, commercial, transactional)\n3. 15 question-based keywords people might ask about this topic\n4. 10 related topics that could be used for supporting content\n\nFormat the output as a structured JSON with these categories. ",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        60,
        235
      ],
      "id": "38cd2c66-d4b7-47a9-a3eb-f58eb32f55ab",
      "name": "Topic Expansion"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analyze the following competitor content for the Primary Topic \"{{ $('Format Json and add Competitor URLs').item.json.primary_topic }}\":\n\nCompetitor: {{ $('Split the Competitor URLs').item.json.competitorUrls }}\nDATA: ```\n{{ $json.tasks[0].result.toJsonString() }}\n```\n\nPlease identify:\n1. Primary keywords they appear to be targeting\n2. Content gaps or missing topics they aren't covering\n3. Unique angles or approaches they're taking\n4. Questions they're answering (or not answering)\n\nFormat the output as a structured analysis. ",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        1100,
        660
      ],
      "id": "14811f51-5992-4e35-af8d-f05f5b488bc1",
      "name": "Competitor Analysis"
    },
    {
      "parameters": {
        "resource": "labs",
        "operation": "get-keyword-difficulty",
        "keywords": {
          "values": [
            {
              "value": "={{ $json['output.primary_keywords'] }}"
            }
          ]
        },
        "location_name_required": "={{ $('Set relevant fields').item.json.location }}",
        "language_name_required": "={{ $('Set relevant fields').item.json.language }}"
      },
      "type": "n8n-nodes-dataforseo.dataForSeo",
      "typeVersion": 1,
      "position": [
        656,
        260
      ],
      "id": "564866ac-c287-48a3-816c-78207dfce133",
      "name": "Keyword Difficulty",
      "credentials": {
        "dataForSeoApi": {
          "id": "owHrK02rkWLlYrl3",
          "name": "DataForSEO account"
        }
      }
    },
    {
      "parameters": {
        "resource": "keywords_data",
        "keywords": {
          "values": [
            {
              "value": "={{ $json['output.primary_keywords'] }}"
            }
          ]
        },
        "location_name": "={{ $('Set relevant fields').item.json.location }}",
        "language_name": "={{ $('Set relevant fields').item.json.language }}",
        "date_from": {},
        "date_to": {}
      },
      "type": "n8n-nodes-dataforseo.dataForSeo",
      "typeVersion": 1,
      "position": [
        656,
        60
      ],
      "id": "d39e392c-c547-4edd-8fe9-014c26152915",
      "name": "Search Volume & CPC",
      "credentials": {
        "dataForSeoApi": {
          "id": "owHrK02rkWLlYrl3",
          "name": "DataForSEO account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "output.primary_keywords",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        440,
        160
      ],
      "id": "2985d85c-4373-4f18-9c27-188f19c920a6",
      "name": "split primary keywords"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "o1",
          "mode": "list",
          "cachedResultName": "o1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1920,
        640
      ],
      "id": "49819332-744d-45a5-b0ed-b74a1a57aad8",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "AZynAxNG099jyj7B",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "resource": "labs",
        "operation": "get-ranked-keywords",
        "target": "={{ $json.competitorUrls }}",
        "location_name_required": "={{ $('Format Json and add Competitor URLs').item.json.location }}",
        "language_name_required": "={{ $('Format Json and add Competitor URLs').item.json.language }}",
        "limit": 10
      },
      "type": "n8n-nodes-dataforseo.dataForSeo",
      "typeVersion": 1,
      "position": [
        880,
        660
      ],
      "id": "07576442-14b1-402a-a084-50fd775d6523",
      "name": "Keyword Ranking per URL",
      "credentials": {
        "dataForSeoApi": {
          "id": "owHrK02rkWLlYrl3",
          "name": "DataForSEO account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=# Role: Act as an expert SEO Strategist and Content Planner.\n\n# Context:\n# You are creating an actionable SEO Keyword Strategy & Content Brief based on prior AI-driven keyword generation and competitor analysis.\n# The goal is content creation for the 'Primary Topic', targeting the specified 'Target Audience' and 'Content Type' in the given 'Location' and 'Language'.\n# Data provided includes initial keyword ideas (primary, long-tail, questions), keyword metrics (volume, difficulty), related topics, and competitor analysis insights (their likely keywords, content gaps, unique angles).\n\n# Input Parameters for this Task:\nPrimary Topic: {{ $json.primary_topic }}\nTarget Audience: {{ $json.target_audience }}\nContent Type: {{ $json.content_type }}\nLocation: {{ $json.location }}\nLanguage: {{ $json.language }}\nAnalyzed Compeitors: {{ $json.competitor_urls }}\n\n# Your Task:\n# Analyze the provided input parameters and the detailed 'DATA' section below.\n# Synthesize this information into a clear, concise, and actionable SEO Keyword Strategy & Content Brief.\n# Structure the output logically using Markdown. Focus on providing insights and actionable recommendations, not just listing data. Explain the 'why' behind key recommendations. Keep the language easy to understand, assuming the reader (e.g., a content writer or marketing manager) understands basic SEO concepts but isn't necessarily a deep expert.\n\n# Required Output Sections (Use Markdown Headers):\n\n## 1. Executive Summary\n   - **Objective:** Briefly state the primary goal of creating content on this topic for this audience (e.g., \"Attract [Target Audience] seeking information on [Primary Topic]...\" or \"Position our brand as a thought leader for [Target Audience] regarding [Primary Topic]\").\n   - **Key Opportunity:** Summarize the most significant keyword opportunity identified (e.g., \"Target the high-volume term '[Example Keyword]' while capturing related informational queries via long-tail variations.\")\n   - **Competitor Angle:** Briefly mention the main strategic takeaway from the competitor analysis (e.g., \"Competitors focus heavily on [X], leaving an opportunity to address [Y] or provide a unique angle on [Z].\")\n\n## 2. Target Keyword Strategy & Rationale\n   - **Primary Target Keywords:**\n      - List the top 5-10 recommended primary keywords.\n      - For each, include Search Volume (SV) and Keyword Difficulty (KD).\n      - **Add brief commentary/rationale for each group or key term:** Why were these chosen? (e.g., \"High relevance and strong search volume despite moderate difficulty,\" or \"Balances primary topic focus with user search behavior.\")\n   - **Secondary & Long-Tail Opportunities:**\n      - List the top 10-15 recommended long-tail and secondary keywords.\n      - Group them by likely Search Intent (e.g., Informational, Commercial, Transactional) if discernible from the input data.\n      - **Add brief commentary on the overall opportunity:** What specific user needs or funnel stages do these address? Note any clusters with particularly low competition.\n   - **Key Question Keywords:**\n      - List the top 5 question-based keywords the content *must* answer.\n      - **Add brief commentary:** Why are these questions crucial for the target audience or content goals?\n\n## 3. Competitive Landscape & Content Gaps\n   - **Competitor Focus:** Briefly summarize the main keyword themes or angles competitors seem to be targeting, based on the provided analysis.\n   - **Identified Gaps/Opportunities:** Highlight 1-3 specific content gaps, under-served intents, or unique angles identified from the competitor analysis that this content piece should leverage. Be specific (e.g., \"Competitors explain 'what', but not 'how to implement',\" or \"Lack of practical examples for [Target Audience]\").\n\n## 4. Content Outline & Actionable Recommendations\n   - **Recommended Structure:** Propose a logical H2/H3 structure or outline for the content piece, designed to cover the target keywords and address user intent effectively.\n   - **Keyword Integration:** Briefly suggest how to naturally incorporate the different keyword types (primary, long-tail, questions) within the proposed structure.\n   - **Content Enhancement:** Provide 2-3 specific, actionable recommendations to make the content stand out for the target audience and potentially outperform competitors (e.g., \"Include step-by-step instructions,\" \"Add original data/charts,\" \"Feature quotes from [Target Audience Role],\" \"Create a downloadable checklist\").\n\n## 5. Proposed SEO Titles\n   - List 3-5 compelling, SEO-optimized title options for the content piece. Ensure they are relevant, incorporate keywords naturally, and entice clicks.\n\n# DATA for Analysis:\n# (Analyze the following JSON data containing keyword suggestions, metrics, and competitor analysis results)\n```json\n{{ $json.data.toJsonString() }}\n\n{{ $json.output.toJsonString() }}\n```\n\nFinal Output Format: Ensure the entire response is well-structured, clean Markdown, ready to be used as a content brief.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        1940,
        440
      ],
      "id": "1e1f4a81-31b9-450d-85ba-65dbe2b6e8c2",
      "name": "Final Keyword Strategy"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ac7e989d-6e32-4850-83c4-f10421467fb8",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -680,
        340
      ],
      "id": "613e1d25-3e9d-4a7f-8657-392854eb00de",
      "name": "Get Input from NocoDB",
      "webhookId": "ac7e989d-6e32-4850-83c4-f10421467fb8"
    },
    {
      "parameters": {
        "fieldToSplitOut": "competitorUrls",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        580,
        660
      ],
      "id": "88076d36-fe04-4a7a-a176-9ba93388b089",
      "name": "Split the Competitor URLs"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e729ab88-95f8-44c0-948c-d2476262fd17",
              "name": "primary_topic",
              "value": "={{ $json.body.data.rows[0]['Primary Topic'] }}",
              "type": "string"
            },
            {
              "id": "1c6fbf22-fb3f-4577-b6cc-4d0672ff2046",
              "name": "competitor_urls",
              "value": "={{ $json.body.data.rows[0]['Competitor URLs'] }}",
              "type": "string"
            },
            {
              "id": "ea8518c8-8f89-4aa5-9546-44be77deeebb",
              "name": "target_audience",
              "value": "={{ $json.body.data.rows[0]['Target Audience'] }}",
              "type": "string"
            },
            {
              "id": "4b27d628-6cc1-4161-bb49-d39a4b1d320e",
              "name": "content_type",
              "value": "={{ $json.body.data.rows[0]['Content Type'] }}",
              "type": "string"
            },
            {
              "id": "bb3fefe7-7eea-4a6d-b2de-307b791ff1b6",
              "name": "id",
              "value": "={{ $json.body.data.rows[0].Id }}",
              "type": "string"
            },
            {
              "id": "09e64ce6-39de-4550-9078-fe4f233edd9a",
              "name": "status",
              "value": "={{ $json.body.data.rows[0].Status }}",
              "type": "string"
            },
            {
              "id": "c10736b0-dece-40a7-9fb0-86b23b44e517",
              "name": "location",
              "value": "={{ $json.body.data.rows[0].Location }}",
              "type": "string"
            },
            {
              "id": "6508a1e9-963d-4a79-bd35-f537c892e8d4",
              "name": "language",
              "value": "={{ $json.body.data.rows[0].Language }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -500,
        340
      ],
      "id": "88d8ad2f-4b66-48e3-aaf7-d6f8210f264b",
      "name": "Set relevant fields"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "o1",
          "mode": "list",
          "cachedResultName": "o1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1100,
        860
      ],
      "id": "1f083fb0-8b55-43f0-85de-58a81f30a9f2",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "AZynAxNG099jyj7B",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const inputJson = $input.first().json;\nconst rawUrls = inputJson.competitor_urls;\n\nconst competitorUrls = rawUrls\n  .split(\",\")\n  .map(url => url.trim())\n  .filter(url => url.length > 0);\n\nconst outputJson = {\n  ...inputJson,\n  competitorUrls: competitorUrls\n};\n\nreturn [{ json: outputJson }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        300,
        660
      ],
      "id": "ffcc38ac-0f0a-4fc7-8e65-86950ea6a01d",
      "name": "Format Json and add Competitor URLs"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        880,
        60
      ],
      "id": "cf522a25-6e62-4a34-b5dd-6684ea67e938",
      "name": "Aggregate SV & CPC"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        880,
        260
      ],
      "id": "781614a6-7afd-4465-86cb-05ef781b70fe",
      "name": "Aggregate KWD"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        1174,
        160
      ],
      "id": "15ab5e60-1f8d-4fd5-bfd8-983a8e0861bb",
      "name": "Merge SV, CPC & KWD"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        1472,
        235
      ],
      "id": "19b056e8-8fb3-436a-b8be-356eeedbb57e",
      "name": "Merge Topic Expansion, SV, CPC & KWD"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1472,
        660
      ],
      "id": "460a5cf3-691e-44c8-a1d3-8dcd43728851",
      "name": "Aggregate Competitor Analysis"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "numberInputs": 3,
        "options": {
          "includeUnpaired": false
        }
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        1720,
        440
      ],
      "id": "b28fe5bb-2ca1-4c02-b45f-033af494d706",
      "name": "Merge Everything"
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "create",
        "projectId": "pl6znsxtne8x3yh",
        "table": "mfsjucjn304v1hc",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldName": "primary_topic_used",
              "fieldValue": "={{ $('Merge Everything').item.json.primary_topic }}"
            },
            {
              "fieldName": "report_content",
              "fieldValue": "={{ $json.output }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 3,
      "position": [
        2320,
        440
      ],
      "id": "a4851979-f231-458b-be3f-13eb3c14b0ee",
      "name": "Write Content Brief ",
      "credentials": {
        "nocoDbApiToken": {
          "id": "Nqxw0TptKnROWv9i",
          "name": "NocoDB (hosted) Token account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "update",
        "projectId": "pl6znsxtne8x3yh",
        "table": "mp3qmbuye3pyihc",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldName": "Id",
              "fieldValue": "={{ $('Merge Everything').item.json.id }}"
            },
            {
              "fieldName": "=Status",
              "fieldValue": "Done"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 3,
      "position": [
        2320,
        600
      ],
      "id": "e13ecdf4-0696-4bd7-bbf5-49cb508072c6",
      "name": "Update Status - Done",
      "credentials": {
        "nocoDbApiToken": {
          "id": "Nqxw0TptKnROWv9i",
          "name": "NocoDB (hosted) Token account"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C08Q7EQ8JNS",
          "mode": "list",
          "cachedResultName": "seo-keyword-research"
        },
        "text": "=>> DONE << \n\nSEO Keyword Research \nPrimary Topic: {{ $('Merge Everything').item.json.primary_topic }}\nTarget Audience: {{ $('Merge Everything').item.json.target_audience }}\nContent Type: {{ $('Merge Everything').item.json.content_type }}\nLocation: {{ $('Merge Everything').item.json.location }}\nLanguage: {{ $('Merge Everything').item.json.language }}\nCompetitor URLs: {{ $('Merge Everything').item.json.competitor_urls }}",
        "otherOptions": {
          "includeLinkToWorkflow": false,
          "mrkdwn": false
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        2320,
        800
      ],
      "id": "c23e1c12-41d3-4c91-8175-f035024c6339",
      "name": "Send Notification",
      "webhookId": "d4615307-81b9-45a3-9d03-4fe5875811c1",
      "credentials": {
        "slackApi": {
          "id": "WSpsCFfmEwBZkHv1",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C08Q7EQ8JNS",
          "mode": "list",
          "cachedResultName": "seo-keyword-research"
        },
        "text": "=>> START << \n\nSEO Keyword Research \nPrimary Topic: {{ $json.primary_topic }}\nTarget Audience: {{ $json.target_audience }}\nContent Type: {{ $json.content_type }}\nLocation: {{ $json.location }}\nLanguage: {{ $json.language }}\nCompetitor URLs: {{ $json.competitor_urls }}",
        "otherOptions": {
          "includeLinkToWorkflow": false,
          "mrkdwn": false
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        -340,
        20
      ],
      "id": "acfee96e-7d37-4a36-b652-3b0798688538",
      "name": "Start Notification",
      "webhookId": "d4615307-81b9-45a3-9d03-4fe5875811c1",
      "credentials": {
        "slackApi": {
          "id": "WSpsCFfmEwBZkHv1",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "update",
        "projectId": "pl6znsxtne8x3yh",
        "table": "mp3qmbuye3pyihc",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldName": "Id",
              "fieldValue": "={{ $json.id }}"
            },
            {
              "fieldName": "=Status",
              "fieldValue": "Started"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 3,
      "position": [
        -140,
        40
      ],
      "id": "5af5855d-b858-4b9f-91bc-1cbb14c08258",
      "name": "Update Status - Started",
      "credentials": {
        "nocoDbApiToken": {
          "id": "Nqxw0TptKnROWv9i",
          "name": "NocoDB (hosted) Token account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Notification and Update Status\n",
        "height": 360,
        "width": 480,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -440,
        -140
      ],
      "id": "a9db9a15-acc1-411c-b596-810a2ce6b8f6",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Topic Expansion",
        "height": 540,
        "width": 280
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        60,
        40
      ],
      "id": "bd0e0d35-dce3-47c4-bb85-de02ded10691",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Search Volume, Cost Per Click, Keyword Difficulty",
        "height": 540,
        "width": 1220,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        400,
        -80
      ],
      "id": "9bb138db-cf51-4614-aeb4-abe7b298aab7",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Competitor Research",
        "height": 460,
        "width": 1360,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        260,
        600
      ],
      "id": "757c15fc-5b5f-44d6-ae06-43dac9c32b2c",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Merge and write Final Keyword Strategy",
        "height": 540,
        "width": 500,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1700,
        260
      ],
      "id": "5459b4ee-f8dd-426b-b0f2-52b8ad6e1222",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## Save, Update Status and Notify",
        "height": 720,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2260,
        260
      ],
      "id": "398ff4dd-d143-4944-96f3-3284cb391d84",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "## Input",
        "height": 320,
        "width": 400
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -740,
        240
      ],
      "id": "7d0ee538-62c7-4bdc-bd4a-be5f600c78b4",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "# AI-Powered SEO Keyword Research Automation",
        "height": 80,
        "width": 820,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        460,
        -280
      ],
      "typeVersion": 1,
      "id": "42f81576-ac7c-4ab2-a93b-3c95410bd801",
      "name": "Sticky Note7"
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Topic Expansion",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Topic Expansion",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Topic Expansion": {
      "main": [
        [
          {
            "node": "split primary keywords",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Topic Expansion, SV, CPC & KWD",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "split primary keywords": {
      "main": [
        [
          {
            "node": "Search Volume & CPC",
            "type": "main",
            "index": 0
          },
          {
            "node": "Keyword Difficulty",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Volume & CPC": {
      "main": [
        [
          {
            "node": "Aggregate SV & CPC",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Keyword Difficulty": {
      "main": [
        [
          {
            "node": "Aggregate KWD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Competitor Analysis": {
      "main": [
        [
          {
            "node": "Aggregate Competitor Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Final Keyword Strategy",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Keyword Ranking per URL": {
      "main": [
        [
          {
            "node": "Competitor Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Final Keyword Strategy": {
      "main": [
        [
          {
            "node": "Write Content Brief ",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update Status - Done",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Input from NocoDB": {
      "main": [
        [
          {
            "node": "Set relevant fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split the Competitor URLs": {
      "main": [
        [
          {
            "node": "Keyword Ranking per URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set relevant fields": {
      "main": [
        [
          {
            "node": "Topic Expansion",
            "type": "main",
            "index": 0
          },
          {
            "node": "Format Json and add Competitor URLs",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Everything",
            "type": "main",
            "index": 2
          },
          {
            "node": "Update Status - Started",
            "type": "main",
            "index": 0
          },
          {
            "node": "Start Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Competitor Analysis",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Format Json and add Competitor URLs": {
      "main": [
        [
          {
            "node": "Split the Competitor URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate SV & CPC": {
      "main": [
        [
          {
            "node": "Merge SV, CPC & KWD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate KWD": {
      "main": [
        [
          {
            "node": "Merge SV, CPC & KWD",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge SV, CPC & KWD": {
      "main": [
        [
          {
            "node": "Merge Topic Expansion, SV, CPC & KWD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Topic Expansion, SV, CPC & KWD": {
      "main": [
        [
          {
            "node": "Merge Everything",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Competitor Analysis": {
      "main": [
        [
          {
            "node": "Merge Everything",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Everything": {
      "main": [
        [
          {
            "node": "Final Keyword Strategy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Content Brief ": {
      "main": [
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "9abcff0c-1aff-4594-8796-8828963a3f75",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "dcb7e9805ce8fe33e4ef843b02947aacc9de2ca8e3594435f3a36d9f33df54fc"
  },
  "id": "nGpVbW7RTylKujyT",
  "tags": [
    {
      "createdAt": "2025-04-14T11:05:17.062Z",
      "updatedAt": "2025-04-14T11:05:17.062Z",
      "id": "SRzFKUr6fVtmWq2d",
      "name": "works"
    }
  ]
}